.book-title,
.book-title-header {
    min-height: 30px;
}

.book-box{
    min-width: 200px;
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: table;
    background-color: lavender;
}

.book-delete-btn {
    /* position: absolute;
    bottom: 0;
    vertical-align: bottom;
    text-align: center !important; */
    vertical-align: bottom;
}